## Ejercicio 1

Crea una función llamada ejercicio1, que recibe la ruta donde se encuentra un dataset y devuelve una DataFrame con los datos que hay en el dataset. Para comprobar esta función utiliza el dataset `titanic.csv` que se incluye en esta actividad.

In [ ]:
import pandas as pd
def ejercicio1(ruta):
    df = pd.read_csv(ruta)
    return df

In [ ]:
df_titanic = ejercicio1("titanic.csv")
print(df_titanic.head())

## Ejercicio 2

Crea otra función llamada ejercicio2. Esta función recibe un único argumento que es un dataframe. En concreto debe recibir el dataframe que se ha obtenido de leer el dataset `titanic.csv`. Esta función devolverá otro dataset que incluya únicamente a los pasajeros menores de 35 años y que viajaban en 3ª clase.

In [ ]:
def ejercicio2(df):
    df = df[df['Age'] < 35]
    df = df[df['Pclass'] == 3]
    return df

## Ejercicio 3

Crea una función llamada ejercicio3, que recibiendo como argumento el dataframe del dataset `titanic.csv`, calcule el porcentaje de persona que sobrevieron. Redondee el resultado al segundo decimal.

In [ ]:
def ejercicio3(df):
    return round(df['Survived'].mean() * 100, 2)

## Ejercicio 4

Implementa una función llamada ejercicio4 que recibiendo el dataframe con los datos del Titanic, devuelva en una tupla el porcentaje de hombres y mujeres que viajaban en el Titanic, redondeados al segundo decimal.

In [ ]:
def ejercicio4(df):
    male_pct = len(df[df['Sex'] == 'male']) / len(df) * 100
    female_pct = len(df[df['Sex'] == 'female']) / len(df) * 100
    return (male_pct, female_pct)

## Ejercicio 5


Implementa una función llamada ejercicio5 que recibiendo el dataframe con los datos del Titanic, devuelva en una lista el número de pasajeros que viajaban en 1ª, 2ª y 3ª clase.

In [ ]:
def ejercicio5(df):
    return df['Pclass'].value_counts().sort_index().tolist()